<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.EvaluateDao">

    <resultMap id="result" type="com.example.demo.domain.Evaluate">
        <id property="evaluateId" column="evaluateId" />
        <result property="username" column="username"/>
        <result property="evaluateDate" column="evaluateDate"/>
        <result property="evaluateName" column="evaluateName"/>
        <result property="score" column="score"/>
        <result property="conclusion" column="conclusion"/>
    </resultMap>

    <select id="findByEvaluate" resultMap="result" parameterType="com.example.demo.domain.Evaluate">
        select * from evaluate
        where evaluateDate=#{evaluateDate} and evaluateName=#{evaluateName} and username=#{username}
    </select>

    <select id="queryPage" resultMap="result">
        select * from evaluate
        where evaluateName like concat(concat('%',#{evaluateName}),'%') and username=#{username}
        order by evaluateId asc
        limit #{startRows},#{pageSize}
    </select>

    <select id="getRowCount" resultType="Integer">
        select count(*) from evaluate
        where evaluateName like concat(concat('%',#{evaluateName}),'%') and username=#{username}
    </select>

    <insert id="insert" parameterType="com.example.demo.domain.Evaluate">
        insert into evaluate(username,evaluateDate,evaluateName,score,conclusion)
        values(
        #{username,jdbcType=VARCHAR},
        #{evaluateDate,jdbcType=VARCHAR},
        #{evaluateName,jdbcType=VARCHAR},
        #{score,jdbcType=VARCHAR},
        #{conclusion,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete" parameterType="int">
        delete from evaluate
        where evaluateId=#{evaluateId}
    </delete>

    <delete id="remove">
        delete from evaluate where evaluateId in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.example.demo.domain.Evaluate">
        update evaluate
        set score=#{score},conclusion=#{conclusion}
        where evaluateDate=#{evaluateDate} and evaluateName=#{evaluateName} and username=#{username}
    </update>

</mapper>