<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.RecordDao">

    <resultMap id="resultPre" type="com.example.demo.domain.PreRecord">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="recordDate" column="recordDate" />
        <result property="wakeTime" column="wakeTime"/>
        <result property="sleepTime" column="sleepTime"/>
        <result property="beginId" column="beginId"/>
        <result property="endId" column="endId"/>
    </resultMap>

    <resultMap id="resultSuf" type="com.example.demo.domain.SufRecord">
        <id property="recordId" column="recordId" />
        <result property="flowTime" column="flowTime"/>
        <result property="capacity" column="capacity"/>
        <result property="flowFastYN" column="flowFastYN"/>
        <result property="flowLeakYN" column="flowLeakYN"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="getPre" resultMap="resultPre">
        select * from preRecord
        where username=#{username} and recordDate between #{firstDate} AND #{lastDate}
        order by recordDate asc
    </select>

    <select id="getPreByDate" resultMap="resultPre" parameterType="String">
        select * from preRecord
        where recordDate=#{recordDate} and username=#{username}
    </select>

    <insert id="insertPre" parameterType="com.example.demo.domain.PreRecord">
        insert into preRecord(username,recordDate,wakeTime,sleepTime,beginId,endId)
        values (
        #{username,jdbcType=VARCHAR},
        #{recordDate,jdbcType=VARCHAR},
        #{wakeTime,jdbcType=VARCHAR},
        #{sleepTime,jdbcType=VARCHAR},
        #{beginId,jdbcType=INTEGER},
        #{endId,jdbcType=INTEGER}
        )
    </insert>

    <delete id="removePre" parameterType="java.util.Map">
        delete from preRecord where username=#{username} and recordDate in
        <foreach collection="dates" item="recordDate" open="(" separator="," close=")">
            #{recordDate}
        </foreach>
    </delete>

    <select id="getSuf" resultMap="resultSuf">
        select * from sufRecord
        where recordId between #{beginId} AND #{endId}
    </select>

    <select id="getLastIdSuf" resultType="Integer">
        select recordId from sufRecord
        order by recordId desc
        limit 0,1
    </select>

    <insert id="insertTempSuf">
        insert into sufRecord(flowTime,capacity,flowFastYN,flowLeakYN,remark)
        select flowTime,capacity,flowFastYN,flowLeakYN,remark
        from tempSufRecord
        where username=#{username}
    </insert>

    <delete id="removeSuf">
        delete from sufRecord
        where recordId between #{beginId} and #{endId}
    </delete>
</mapper>