<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">

    <resultMap id="result" type="com.example.demo.domain.User">
        <result property="username" column="username" />
        <result property="password" column="password"/>
        <result property="photo" column="photo"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <select id="findByUsername" resultMap="result" parameterType="String">
        select * from user
        where username=#{username}
    </select>

    <select id="findByUser" resultMap="result" parameterType="com.example.demo.domain.User">
        select * from user
        where username=#{username} and password=#{password}
    </select>

    <insert id="insert" parameterType="com.example.demo.domain.User">
        insert into user(username,password)
        values(
        #{username,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateO" parameterType="com.example.demo.domain.User">
        update user
        set name=#{name},sex=#{sex},age=#{age},phone=#{phone}
        where username=#{username}
    </update>

    <update id="updateP" parameterType="com.example.demo.domain.User">
        update user
        set password=#{password}
        where username=#{username}
    </update>

</mapper>